<!DOCTYPE html>
<html>

<head>
  <title>Saran Pencegahan Penipuan</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <header>
    <h1>Saran Pencegahan Penipuan</h1>
  </header>

  <main>
    <a href="/index">Kembali</a>
    <br>
    <br>
    <br>
    <h2>Alasan Dari Hasil Deteksi Penipuan</h2>
    <p>Berikut adalah alasan penipuan kartu kredit:</p>
    <ol>
      <li>Tingginya frekuensi pembelian dan jumlah pembelian yang tidak biasa: Jika ada lonjakan tiba-tiba dalam
        frekuensi pembelian atau jumlah pembelian yang tidak biasa.
      </li>
      <li>Penggunaan kartu dengan saldo yang tidak mencukupi: Jika saldo di kartu kredit tidak mencukupi untuk pembelian
        yang dilakukan.</li>
      <li>Polanya pembelian yang tidak biasa: Jika ada pola pembelian yang tidak biasa, seperti pembelian satu kali yang
        jarang terjadi.</li>
      <li>Tingginya frekuensi penarikan tunai: Penarikan tunai yang sering dari kartu kredit juga dapat menjadi tanda
        penipuan.</li>

    </ol>

    <h2>Bagaimana Menghindari Penipuan Kartu Kredit</h2>
    <p>Berikut adalah beberapa saran untuk menghindari penipuan kartu kredit:</p>
    <ol>
      <li>Rutin periksa laporan transaksi kartu kredit Anda dan laporkan segera jika Anda menemui aktivitas yang
        mencurigakan.</li>
      <li>Gunakan teknologi keamanan seperti token atau autentikasi dua faktor ketika mungkin.</li>
      <li>Hati-hati dengan email phishing yang mencoba mencuri informasi kartu kredit Anda. Jangan klik tautan yang
        mencurigakan.</li>
      <li>Hubungi bank Anda jika Anda kehilangan kartu kredit Anda atau kartu Anda dicuri.</li>
    </ol>


    <h2>Keamanan Online</h2>
    <p>Keamanan online sangat penting. Pastikan Anda selalu menggunakan koneksi yang aman saat melakukan pembelian
      online dan berhati-hati dengan situs web yang tidak dikenal.</p>
  </main>

  <footer>
    <p>&copy; 2023 Prediksi Penipuan Kartu Kredit</p>
  </footer>
</body>

</html>